In [ ]:
import pandas as pd

# reading data from csv file
sample_df= pd.read_csv("examples/sample.csv")
print(sample_df)
print("\n")

# reading data from csv and adding column names
sample_df= pd.read_csv("examples/sample.csv",skiprows=1 ,
                      names=['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)
print("\n")

In [ ]:
s2_df= pd.read_csv("examples/sample2.csv")
print(s2_df)

parsed= pd.read_csv("examples/sample2.csv",
                   index_col=['key1','key2'])
parsed

In [ ]:
import pandas as pd

In [ ]:
s3_df= pd.read_csv("examples/sample3.csv")
print(s3_df)

sentinels= {'message': ['foo' , 'NA']}
pd.read_csv('examples/sample3.csv',na_values=sentinels)

In [ ]:
pd.read_csv("datasets/train.csv", nrows=200)

In [ ]:
chunks= pd.read_csv('datasets/train.csv', chunksize=200)
print(type(chunks), print(chunks))

for chunk in chunks:
    print(chunk.head())

In [ ]:
chunks= pd.read_csv('datasets/train.csv', chunksize=200)
print(type(chunks), print(chunks))
chunk_list=[]
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[5].head()

In [ ]:
data=list(open('examples/ex3.txt'))
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

In [ ]:
df= pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])
df

In [ ]:
import numpy as np
dates= pd.date_range('1/1/2000', periods=7)
#print(dates)
ts= pd.Series(np.arange(7), index=dates)
ts.to_csv("examples/tseries.csv")

# Working with delimited formats

In [ ]:
import csv
f = open('examples/ex7.csv')
reader= csv.reader(f)
for line in reader:
    print(line)

# JSON DATA

In [ ]:
data= pd.read_json('examples/example.json')
data

# XML and HTML : Web Data loading into Data Frame

In [ ]:
import pandas as pd
tables= pd.read_html('examples/fdic_failed_bank_list.html')

print(type(tables))
print(len(tables))
failures_df=tables[0]
print(type(failures_df))
print(failures_df.shape)
print(failures_df.columns)
print(len(failures_df))
print(failures_df['City'].head())
print(failures_df['Bank Name'].head())
print(failures_df.head())

In [ ]:
close_timestamps= pd.to_datetime(failures_df['Closing Date'])
print(type(close_timestamps))
print(close_timestamps)

# Binary Data Format

In [ ]:
frame= pd.read_csv('examples/ex1.csv')
frame.to_pickle('examples/frame_pickle')
pd.read_pickle('examples/frame_pickle')

# HDF5 Format

In [ ]:
import numpy as np
import pandas as pd
frame= pd.DataFrame({'a':np.random.randn(100)})
store= pd.HDFStore('mydata.h5')
store['obj1']= frame
store['obj1_col']= frame['a']
print(store)
x= store.obj1
print(type(x))
print(x.head())
print(":_------------------")
store.put('obj2',frame, format='table')#
store.select('obj2', where=['index >=10 and index <= 15'])
store.close()
#frame.to_hdf('mydata.h5', 'obj3', format='table')
frame= pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

In [ ]:
import numpy as np
import pandas as pd
frame= pd.DataFrame({'a':np.random.randn(100)})
store= pd.HDFStore('mydata.h5')
store['obj1']= frame
store['obj1_col']= frame['a']
print(store)
x= store.obj1
print(type(x))
print(x.head())
print(":_------------------")
store.put('obj2',frame, format='table')#
store.select('obj2', where=['index >=10 and index <= 15'])
store.close()
#frame.to_hdf('mydata.h5', 'obj3', format='table')
frame= pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

# Excel file read write data

In [ ]:
xlsx= pd.ExcelFile('examples/ex1.xlsx')
frame= pd.read_excel('examples/ex1.xlsx', 'Sheet1')
print(frame)
writer= pd.ExcelWriter('examples/ex1.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

frame.to_excel('examples/ex1.xlsx')

# Working with WEB APIs

In [ ]:
import requests
import numpy as np
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
print(resp)
data= resp.json()
print(type(data))
print(data)

In [ ]:
import pandas as pd
data_dict=data[0]
#print(data_dict['title'])
issues= pd.DataFrame(data,
                     columns=['number', 'title', 'labels', 'state'])

#print(issues.head())
print(issues[['number', 'title']].head())

In [ ]:
#conda install -c anaconda sqlite

# Interacting with Databases

In [ ]:
import sqlite3

#create table
query=""" CREATE TABLE  test(a VARCAHR(20),
          b VARCHAR(20), c REAL,
          d INTEGER);  """
con= sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [ ]:
# inserting data
data= [('Atlanta', 'George', 1.25,6),
      ('thaleses', 'Malku', 2.4, 7),
      ('austria', 'ahsani', 3.4, 4)
      ]
stmt= "INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)
con.commit()

In [ ]:
#selecting or extracting data

cursor= con.execute('SELECT * from test')
rows=cursor.fetchall()
print(type(rows), rows)

In [ ]:
import pandas as pd
print(cursor.description)
data_df= pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
data_df

In [3]:
conda install -c anaconda sqlachemy

Note: you may need to restart the kernel to use updated packages.

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: sqlachemy

In [6]:
import pandas as pd
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

          a       b     c  d
0   Atlanta  George  1.25  6
1  thaleses   Malku  2.40  7
2   austria  ahsani  3.40  4