In [3]:
import pandas as pd

# reading data from csv file
sample_df= pd.read_csv("examples/sample.csv")
print(sample_df)
print("\n")

# reading data from csv and adding column names
sample_df= pd.read_csv("examples/sample.csv",skiprows=1 ,
                      names=['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)
print("\n")

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80


    id         name  ch  ph  en  math
0  A01     arif ali  20  30  40    50
1  A02  kamran khan  30  40  50    60
2  A03   imran ali   40  50  60    70
3  A04  kashif khan  50  60  70    80

In [8]:
s2_df= pd.read_csv("examples/sample2.csv")
print(s2_df)

parsed= pd.read_csv("examples/sample2.csv",
                   index_col=['key1','key2'])
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16