In [1]:
import pandas as pd

In [3]:
obj=pd.Series([4,7,-6,8])

In [4]:
print(obj)

0    4
1    7
2   -6
3    8
dtype: int64

In [2]:
sales= pd.Series([100,223,563,422,541])
print(sales.values)
print(sales.index)

[100 223 563 422 541]
RangeIndex(start=0, stop=5, step=1)

In [4]:
sales=pd.Series([100,223,344,432,543,234,233], index = ['a', 'b' , 'c', 'd', 'e', 'f', 'g'])

In [5]:
print(sales)

a    100
b    223
c    344
d    432
e    543
f    234
g    233
dtype: int64

In [6]:
print(sales.values )

[100 223 344 432 543 234 233]

In [7]:
print(sales.index)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [8]:
sales=pd.Series([100,223,344,432,543,234,233], index = ['a', 'b' , 'c', 'd', 'e', 'f', 'g'],name="4 Months Sales")

In [9]:
print(sales)

a    100
b    223
c    344
d    432
e    543
f    234
g    233
Name: 4 Months Sales, dtype: int64

# Create a Pandas Series to store a canteen data to hold values of how many sandwitches are sold each days(one week)

In [11]:
sold_sandwitches= pd.Series([100,233,433,543,233,345,456], 
                            index=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'], 
                            name='First Week Sales')

In [12]:
print(sold_sandwitches)

Monday       100
Tuesday      233
Wednesday    433
Thursday     543
Friday       233
Saturday     345
Sunday       456
Name: First Week Sales, dtype: int64

In [14]:
print(sold_sandwitches[sold_sandwitches>300])

Wednesday    433
Thursday     543
Saturday     345
Sunday       456
Name: First Week Sales, dtype: int64

In [2]:
import numpy as np
import pandas as pd

In [3]:
ar = np.array([3,2,4,5,6])
ind = np.array(['a','b','c','d','e'])

obj2 = pd.Series(ar, index=ind)
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int32

In [4]:
sdata ={"Sindh": 35000, "Punjab":56777, "KPK": 34655, "Balochistan": 45600}
tax_by_state = pd.Series(sdata)
print(tax_by_state)

Sindh          35000
Punjab         56777
KPK            34655
Balochistan    45600
dtype: int64