In [1]:
import pandas as pd

apples = pd.Series([3,2,5,7,9])
oranges = pd.Series([2,6,4,8,3])

data = {"apples": apples , "oranges": oranges}
fruits_df = pd.DataFrame(data)
print(fruits_df)

   apples  oranges
0       3        2
1       2        6
2       5        4
3       7        8
4       9        3

In [3]:
data= {"state": ["ohio,","Malik","Ahsan","Ahmed","Ali","Naeem"],
      "year": [2020,2012,2013,2016,2020,2018],
      "pop": [1.5,1.6,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data, index=['1st','2nd','3rd','4th','5th','6th'])
frame.head()

     state  year  pop
1st  ohio,  2020  1.5
2nd  Malik  2012  1.6
3rd  Ahsan  2013  3.6
4th  Ahmed  2016  2.4
5th    Ali  2020  2.9

In [5]:
import pandas as pd
import numpy as np

In [17]:
frame= pd.DataFrame(np.random.randn(4,3),columns=list('bde'),
                                                     index= ['uteh','ohio','pak','islo'])
print(frame)


f= lambda x: x.max()-x.min()
df= frame.apply(f,axis=0)
print(df,type(df))

             b         d         e
uteh -0.395184 -0.151925 -0.198121
ohio  0.985321 -1.029982 -2.020728
pak   0.234449  1.165038  1.708948
islo  0.071390 -0.600699 -0.832462
b    1.380505
d    2.195020
e    3.729676
dtype: float64 <class 'pandas.core.series.Series'>

# Sorting and Ranking

In [2]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                    index = ['three', 'one'],
                    columns = ['d','a','b','c'])

print(frame)
print()
print(frame.sort_index(axis=1,ascending=False))
print()
print(frame.sort_index())

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [5]:
print(frame)
print(frame.sort_values(by='b'))
print(frame.rank(ascending= False , method = 'max'))
print(frame.rank(ascending=True, method = 'min'))
print(frame.rank(axis='columns'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
       d  a  b  c
three  0  1  2  3
one    4  5  6  7
         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [7]:
print(frame.sum(axis='columns'))

three     6
one      22
dtype: int64

In [8]:
print(frame.mean(axis= "columns"))

three    1.5
one      5.5
dtype: float64

In [16]:
print(frame['a' ].unique())

[1 5]

In [21]:
print(frame.loc[['three'],['d']])

       d
three  0

In [23]:
print(frame.iloc[1],[0,1,2])

d    4
a    5
b    6
c    7
Name: one, dtype: int32 [0, 1, 2]

In [26]:
print(frame.iloc[ :1  ])

       d  a  b  c
three  0  1  2  3

In [47]:
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2=pd.DataFrame(np.arange(20.0).reshape(4,5),columns=list('abcde'))
print(df1)
print(df2)
df3=df1+df2 
print(df3)


print('Add ka mréthod')
print(df1.add(df2,fill_value=0))

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
Add ka mréthod
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [42]:
df1= df1.drop('b' ,axis=1)
df1= df1.drop(2)

TypeError: drop() got multiple values for argument 'axis'

In [41]:
print(df1)
print(df2)

     a    c    d
0  0.0  2.0  3.0
1  4.0  6.0  7.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [45]:
import pandas as pd
obj= pd.Series(['blue','Purpule','Yellow'],index=[0,3,6])

obj=obj.reindex(range(2,11), method= "ffill")
obj

2        blue
3     Purpule
4     Purpule
5     Purpule
6      Yellow
7      Yellow
8      Yellow
9      Yellow
10     Yellow
dtype: object

In [48]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [52]:
df1.loc([0])

TypeError: unhashable type: 'list'

In [53]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [59]:
frame.loc[['three','one'],['a','b']]

       a  b
three  1  2
one    5  6

(0, 1, 2)